/* Estilos generales */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 90%;
	margin: 0 auto;
	
    background-color: #ebc588;
}

section {
	margin-bottom: 20px;
}

footer {
     background-color: #333;
     color :#fff;
     height: 10vh;
     text-align: center;
}
/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {
	header {
		text-align: center;
	}
	
	nav ul {
		display: block;
		text-align: center;
	}
	
	nav li {
		display: block;
		margin: 10px 0;
	}
}


  